body {
  /* padding-top: 71px; */
  padding: 71px 147px 47px;
  width: 906px;
  margin: auto;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
header {
  text-align: center;
  margin-bottom: 92px;
}
a {
  margin: 0px 50px;
  color: #7d7d7d;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #03a9f4;
}
.card {
  width: 420px;
}
.container {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  width: 906px;
  gap: 130px 65px;
}
.more-btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
button {
  background-color: transparent;
  padding: 20px 48px;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid #626262;
}
button:hover {
  color: #03a9f4;
  border-color: #03a9f4;
}
.category {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #b4ad9e;
  margin-top: 62px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  color: #626262;
  margin-top: 32px;
}
.discription {
  line-height: 19px;
  margin-top: 40px;
  color: #626262;
}
