* {
  color: black;
  background-color: whitesmoke;
}
.filter {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 315px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.rilter {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 485px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.ilter {
  position: absolute;
  width: 44px;
  height: 19px;
  left: 674px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.lter {
  position: absolute;
  width: 52px;
  height: 19px;
  left: 818px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.life {
  position: absolute;
  width: 71px;
  height: 19px;
  left: 315px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.photo {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 485px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #03a9f4;
}
.music {
  position: absolute;
  width: 44px;
  height: 19px;
  left: 674px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.tre {
  position: absolute;
  width: 52px;
  height: 19px;
  left: 818px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.aday {
  position: absolute;
  width: 324px;
  height: 40px;
  left: 633px;
  top: 1218px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: #626262;
}
.loree {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 633px;
  top: 1298px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}
.aday4 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 633px;
  top: 858px;

  background: url(4.png);
}
.photo3 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 147px;
  top: 858px;

  background: url(3.png);
}
.ameri {
  position: absolute;
  width: 225px;
  height: 40px;
  left: 148px;
  top: 1218px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: #626262;
}
.loreee {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 148px;
  top: 1298px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}
.photo2 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 633px;
  top: 182px;

  background: url(2.png);
}
.lifetas {
  position: absolute;
  width: 379px;
  height: 40px;
  left: 633px;
  top: 572px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: #626262;
}
.lor1 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 633px;
  top: 652px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}
.photo1 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 148px;
  top: 182px;

  background: url(1.png);
}
.moret {
  position: absolute;
  width: 408px;
  height: 40px;
  left: 148px;
  top: 572px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: #626262;
}
.lor2 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 148px;
  top: 652px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}
.life1 {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 148px;
  top: 524px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
.life {
  position: absolute;
  width: 71px;
  height: 19px;
  left: 315px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
.life1 {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 148px;
  top: 524px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
.life2 {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 633px;
  top: 524px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
.diary {
  position: absolute;
  width: 86px;
  height: 16px;
  left: 148px;
  top: 1170px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
.diary2 {
  position: absolute;
  width: 86px;
  height: 16px;
  left: 633px;
  top: 1170px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
.but {
  position: absolute;
  width: 68px;
  height: 19px;
  left: 49px;
  top: 20px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #626262;
}
.Uk {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 380px;
  top: 200px;

  background: url(3.png);
}
